body{
    background-color: var(--branco-escuro);
}

#btnLogin{
    background-color: var(--cinza);
}

#btnLogin:hover{
    background-color: var(--preto);
}

.login{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 110px;
    width: 100vw;
    top: 74px;
}
