body{
    background-color: var(--branco-escuro);
}

#btnLogin{
    background-color: var(--cinza);
}

#btnLogin:hover{
    background-color: var(--preto);
}

.login{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 110px;
    width: 100vw;
    top: 74px;
}

form > div{
    position: relative;
}

form > div > input{
    width: 98%;
    height: 100%;
    padding-left: 2%;
    border: none;
    border-radius: 4px;
}

#spanEmail::before{
    content: '\58';
    font-family: fontAwesome;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4.5%;
    margin-right: 2%;
    color: var(--cinza);
}

#spanSenha::before{
    font-family: fontAwesome;
    cursor: pointer;
    content: '\f06e';
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4.5%;
    margin-right: 1.5%;
    color: var(--cinza);
}

#spanSenha.hide::before{
    content: '\f070';
}

#logarBtn{
    margin-left: 5.5%;
    background-color: var(--azul);
    color: var(--branco);
    border: 1px solid transparent;
    border-radius: 4px;
}

#logarBtn:hover{
    border: 1px solid var(--azul);
    background-color: var(--branco);
    color: var(--azul);
}

form > p{
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--preto);
}

#redirecionaBtn{
    background-color: var(--preto);
    color: var(--branco);
    border: 1px solid var(--preto);
    margin-left: 5.5%;
}

#redirecionaBtn:hover{
    background-color: var(--branco);
    color: var(--preto);
}